/* селектор {
    свойство: значение;
    свойство: значение;
    свойство: значение;
} */
body {
    background-color: rgb(255, 255, 224);
}
h1,h2 {
text-align: center;
color: brown;
}
h3 {
    text-transform: uppercase;
}
span {
    font-style: italic;
}

/* h2 {
    color: blue;
    text-align: center;    
}
.chapter {
    color: red;
}
#start {
color: green;
font-weight: 600;
text-shadow: inherit;
text-decoration: line-through;
font-size: 30px;
}
.text {
font-style: italic;
text-transform: lowercase;
} */